<style>
  *,
  *::before,
  *::after {
    box-sizing: border-box;
      -webkit-box-sizing: border-box;
      }

              .navbar-container {
                height: 105px;
                  background-color: #0d1347;
                    display: -webkit-box;
                      display: -ms-flexbox;
                        display: flex;
                          -ms-flex-wrap: wrap;
                            flex-wrap: wrap;
                              -webkit-box-align: center;
                                -ms-flex-align: center;
                                  align-items: center;
                                    overflow: hidden;
                                      -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.315);
                                        -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.315);
                                          box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.315);
                                            position: -webkit-sticky;
                                              position: sticky;
                                                top: 0;
                                                  z-index: 1;
                                                  }

                                                  .navbar-container .logo {
                                                    max-width: 350px;
                                                      padding: 0 15px;
                                                      }

                                                      .navbar-container .logo a {
                                                        display: -webkit-box;
                                                          display: -ms-flexbox;
                                                            display: flex;
                                                              -ms-flex-wrap: wrap;
                                                                flex-wrap: wrap;
                                                                  -webkit-box-align: center;
                                                                    -ms-flex-align: center;
                                                                      align-items: center;
                                                                        height: 105px;
                                                                        }

                                                                        .navbar-container .logo a img {
                                                                          max-width: 100%;
                                                                            margin: 15px;
                                                                              max-height: 105px;
                                                                              }

                                                                              .navbar-container .navbar {
                                                                                display: -webkit-box;
                                                                                  display: -ms-flexbox;
                                                                                    display: flex;
                                                                                      -ms-flex-wrap: wrap;
                                                                                        flex-wrap: wrap;
                                                                                          -webkit-box-flex: 1;
                                                                                            -ms-flex: 1;
                                                                                              flex: 1;
                                                                                                flex-direction: row-reverse;
                                                                                                  padding: 0 30px;
                                                                                                  }

                                                                                                  .navbar-container .navbar ul {
                                                                                                    display: -webkit-box;
                                                                                                      display: -ms-flexbox;
                                                                                                        display: flex;
                                                                                                          -ms-flex-wrap: wrap;
                                                                                                            flex-wrap: wrap;
                                                                                                              list-style: none;
                                                                                                                margin: 0;
                                                                                                                  padding: 0;
                                                                                                                  }

                                                                                                                  .navbar-container .navbar ul li a {
                                                                                                                    text-decoration: none;
                                                                                                                      color: #ffffff;
                                                                                                                        font-size: 14px;
                                                                                                                          text-transform: uppercase;
                                                                                                                            display: block;
                                                                                                                              height: 30px;
                                                                                                                                line-height: 30px;
                                                                                                                                  cursor: pointer;
                                                                                                                                    padding: 0 10px;
                                                                                                                                    }

                                                                                                                                    .navbar-container .navbar ul li a:hover {
                                                                                                                                      color: #ffffff;
                                                                                                                                        background-color: #00b0f0;
                                                                                                                                        }

                                                                                                                                        .navbar-container .navbar ul .close {
                                                                                                                                          display: none;
                                                                                                                                            padding: 10px;
                                                                                                                                            }

                                                                                                                                            .navbar-container .navbar ul .close span {
                                                                                                                                              font-size: 40px;
                                                                                                                                                display: inline-block;
                                                                                                                                                  border: 1px solid #cccccc;
                                                                                                                                                    padding: 0 10px;
                                                                                                                                                      cursor: pointer;
                                                                                                                                                      }

                                                                                                                                                      .navbar-container .navbar .icon-bar {
                                                                                                                                                        padding: 18px 8px;
                                                                                                                                                          width: 50px;
                                                                                                                                                            height: 60px;
                                                                                                                                                              display: none;
                                                                                                                                                                -webkit-box-orient: vertical;
                                                                                                                                                                  -webkit-box-direction: normal;
                                                                                                                                                                    -ms-flex-direction: column;
                                                                                                                                                                      flex-direction: column;
                                                                                                                                                                        -webkit-box-pack: justify;
                                                                                                                                                                          -ms-flex-pack: justify;
                                                                                                                                                                            justify-content: space-between;
                                                                                                                                                                              cursor: pointer;
                                                                                                                                                                              }

                                                                                                                                                                              .navbar-container .navbar .icon-bar i {
                                                                                                                                                                                background-color: #ffffff;
                                                                                                                                                                                  height: 2px;
                                                                                                                                                                                  }

                                                                                                                                                                                  @media only screen and (max-width: 900px) {
                                                                                                                                                                                    .navbar-container {
                                                                                                                                                                                        -webkit-box-pack: justify;
                                                                                                                                                                                            -ms-flex-pack: justify;
                                                                                                                                                                                                justify-content: space-between;
                                                                                                                                                                                                  }

                                                                                                                                                                                                    .navbar-container .logo {
                                                                                                                                                                                                        -webkit-box-flex: 1;
                                                                                                                                                                                                            -ms-flex: 1;
                                                                                                                                                                                                                flex: 1;
                                                                                                                                                                                                                  }

                                                                                                                                                                                                                    .navbar-container .navbar {
                                                                                                                                                                                                                        -webkit-box-flex: 0;
                                                                                                                                                                                                                            -ms-flex: 0;
                                                                                                                                                                                                                                flex: 0;
                                                                                                                                                                                                                                  }

                                                                                                                                                                                                                                    .navbar-container .navbar ul {
                                                                                                                                                                                                                                        -ms-flex-wrap: nowrap;
                                                                                                                                                                                                                                            flex-wrap: nowrap;
                                                                                                                                                                                                                                                position: fixed;
                                                                                                                                                                                                                                                    top: 0;
                                                                                                                                                                                                                                                        left: 100%;
                                                                                                                                                                                                                                                            -webkit-box-orient: vertical;
                                                                                                                                                                                                                                                                -webkit-box-direction: normal;
                                                                                                                                                                                                                                                                    -ms-flex-direction: column;
                                                                                                                                                                                                                                                                        flex-direction: column;
                                                                                                                                                                                                                                                                            background: #0d1347;
                                                                                                                                                                                                                                                                                width: 100%;
                                                                                                                                                                                                                                                                                    height: 100%;
                                                                                                                                                                                                                                                                                        overflow: auto;
                                                                                                                                                                                                                                                                                            -webkit-transition: left 0.3s;
                                                                                                                                                                                                                                                                                                -o-transition: left 0.3s;
                                                                                                                                                                                                                                                                                                    transition: left 0.3s;
                                                                                                                                                                                                                                                                                                      }

                                                                                                                                                                                                                                                                                                        .navbar-container .navbar ul li a {
                                                                                                                                                                                                                                                                                                            padding: 10px;
                                                                                                                                                                                                                                                                                                                font-size: 16px;
                                                                                                                                                                                                                                                                                                                    height: auto;
                                                                                                                                                                                                                                                                                                                        line-height: normal;
                                                                                                                                                                                                                                                                                                                            color: #ffffff;
                                                                                                                                                                                                                                                                                                                              }

                                                                                                                                                                                                                                                                                                                                .navbar-container .navbar ul .close {
                                                                                                                                                                                                                                                                                                                                    display: block;
                                                                                                                                                                                                                                                                                                                                      }

                                                                                                                                                                                                                                                                                                                                        .navbar-container .navbar .icon-bar {
                                                                                                                                                                                                                                                                                                                                            display: -webkit-box;
                                                                                                                                                                                                                                                                                                                                                display: -ms-flexbox;
                                                                                                                                                                                                                                                                                                                                                    display: flex;
                                                                                                                                                                                                                                                                                                                                                      }

                                                                                                                                                                                                                                                                                                                                                        .navbar-container .navbar ._Menus-show {
                                                                                                                                                                                                                                                                                                                                                            left: 0;
                                                                                                                                                                                                                                                                                                                                                              }
                                                                                                                                                                                                                                                                                                                                                              }

                                                                                                                                                                                                                                                                                                                                                              .body {
                                                                                                                                                                                                                                                                                                                                                                max-width: 700px;
                                                                                                                                                                                                                                                                                                                                                                  margin: 0 auto;
                                                                                                                                                                                                                                                                                                                                                                    padding: 10px;
                                                                                                                                                                                                                                                                                                                                                                    }