<!DOCTYPE html>
<html>

<head>
  <title>{% if page.title %}{{ page.title }} · {% endif %}Blog · MediaPlay Discord</title>

  {% include meta.html %}

  <link rel="icon" href="/assets/MPD-Favicon.ico" type="image/x-icon" />
  

  <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}"
    href="{{ site.baseurl }}/feed.xml" />
  <link rel="stylesheet" href="/css/scrollBar.css" />

  <!-- Created with Jekyll Now - http://github.com/barryclark/jekyll-now -->
</head>

<body>

  <!-- I plan to add the responsive navbar here in the blog as well, but it's painful. -->

  <div class="wrapper-masthead">
    <div class="container">
      <header class="masthead clearfix">
        <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>

        <div class="site-info">
          <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
          <p class="site-description">{{ site.description }}</p>
        </div>

        <nav>
          <a href="/">🡨 Return to Home</a>
          <a href="{{ site.baseurl }}/">Blog</a>
        </nav>
      </header>
    </div>
  </div>

  <div id="main" role="main" class="container">
    {{ content }}
  </div>

  <div class="wrapper-footer">
    <div class="container">
      <footer class="footer">
        {% include svg-icons.html %}
      </footer>
    </div>
  </div>

  {% include analytics.html %}
</body>

</html>